{% extends "base.html" %}
{% block content %}
    <h1>Employees</h1>
    <label class="input-group-addon glyphicon glyphicon-sort" style="width: 50px;">
        <select class="selectpicker show-ticks" onchange="location = this.value;">
            <option>Sort</option>
            <option value="{{ url_for('admin.view_employees_admin', sort_type="default", filter_type=filter_type) }}">{{ "Default: No Sort" }}</option>
            <option value="{{ url_for('admin.view_employees_admin', sort_type="name", filter_type=filter_type) }}">{{ "Name" }}</option>
            <option value="{{ url_for('admin.view_employees_admin', sort_type="designation", filter_type=filter_type) }}">{{ "Designation" }}</option>
            <option value="{{ url_for('admin.view_employees_admin', sort_type="date_of_joining", filter_type=filter_type) }}">{{ "Joining Date" }}</option>
        </select>
    </label>
    <label class="input-group-addon glyphicon glyphicon-filter" style="width: 50px;">
        <select class="selectpicker" onchange="location = this.value;">
            <option>Filter</option>
            <option value="{{ url_for('admin.view_employees_admin', sort_type=sort_type, filter_type="default") }}">{{ "All" }}</option>
            <option disabled>Departments</option>
            {% for dept in department_response %}
                <option value="{{ url_for('admin.view_employees_admin', sort_type=sort_type, filter_type="department"+dept['_id']) }}">{{ dept['name'] }}</option>
            {% endfor %}
        </select>
    </label>
    {% for department in response %}
        <h4>{{ department['department_name'] }}</h4>
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Designation</th>
                <th scope="col">Joining Date</th>
                <th scope="col">Monthly Salary</th>
                <th scope="col">Edit</th>
                <th scope="col">Delete</th>
            </tr>
            </thead>
            <tbody>
            {% for employee in department['employees'] %}
                <tr>
                    <th scope="row">{{ loop.index }}</th>
                    <td>{{ employee['name'] }}</td>
                    <td>{{ employee['email'] }}</td>
                    <td>{{ employee['designation'] }}</td>
                    <td>{{ employee['date_of_joining'] }}</td>
                    <td>{{ employee['monthly_salary'] }}</td>
                    <td><a class="btn btn-warning" href="{{ url_for('admin.admin_edit_employee', employee_id=employee['_id']) }}"> Edit Employee</a></td>
                    <td><a class="btn btn-danger" href="{{ url_for('admin.admin_delete_employee', employee_id=employee['_id']) }}">Delete Employee</a> </td>
                </tr>
            {% endfor %}
            <tbody>
        </table>
    {% endfor %}
    <a class="btn btn-success" href="{{ url_for('admin.add_employee') }}"><span class="glyphicon glyphicon-plus"></span> Add Employee</a>
{% endblock %}