{% extends "base.html" %}
{% block content %}
    <h1>Employees</h1>
    {% for department in response %}
        <h4>{{ department['department_name'] }}</h4>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Designation</th>
                    <th scope="col">Joining Date</th>
                    <th scope="col">Monthly Salary</th>
                    <th scope="col">Edit</th>
                    <th scope="col">Delete</th>
                </tr>
            </thead>
            <tbody>
                {% for employee in department['employees'] %}
                    <tr>
                        <th scope="row">{{ loop.index }}</th>
                        <td>{{ employee['name'] }}</td>
                        <td>{{ employee['email'] }}</td>
                        <td>{{ employee['designation'] }}</td>
                        <td>{{ employee['date_of_joining'] }}</td>
                        <td>{{ employee['monthly_salary'] }}</td>
                        <td><a class="btn btn-warning" href="{{ url_for('employees.edit_employee', employee_id=employee['_id']) }}"> Edit Employee</a></td>
                        <td><a class="btn btn-danger" href="{{ url_for('employees.delete_employee', employee_id=employee['_id']) }}">Delete Employee</a> </td>
                    </tr>
                 {% endfor %}
            <tbody>
        </table>
    {% endfor %}
    <a class="btn btn-success" href="{{ url_for('admin.add_employee') }}"><span class="glyphicon glyphicon-plus"></span> Add Employee</a>
{% endblock %}