li{
    margin-right: 20px;
    margin-top: 15px;
    /*color: crimson;*/
}
.topnav-right {
    margin-top: 15px;
    margin-left: 225px;
    float: right;
}
.reset{
    float: right;
}
.add{
    float: right;
}
.pie-chart{
    float: right;
}