{% extends "base.html" %}
{% block content %}
    <h1>Bills</h1>
<table class="table table-hover">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Type</th>
        <th scope="col">Bill url</th>
        <th scope="col">Submission Date</th>
        <th scope="col">Status</th>
        <th scope="col">Accept</th>
        <th scope="col">Reject</th>
    </tr>
    </thead>
            <tbody>
                {% for bill in bills %}
                    <tr>
                        <th scope="row">{{ loop.index }}</th>
                        <td>{{ bill['employee_name'] }}</td>
                        <td>{{ bill['bill_type'] }}</td>
                        <td><a href="{{ bill['bill_image_url'] }}"><img src="{{ bill['bill_image_url'] }}" alt="Image" width="100" height="100"></a></td>
                        <td>{{ bill['date_of_submission'] }}</td>
                        <td>{{ bill['status'] }}</td>
                        <td>
                            <form action="{{ url_for('bills.accept_bill', bill_id=bill['_id']) }}" method="post">
                                <div><input type="text" class="form-control" id="reimburse" name="reimburse" placeholder="Enter money to Reimburse">
                                </div><br>
                                <button type="submit" class="btn btn-success">Accept Bill</button>
                            </form><br>
                        </td>
                        <td>
                            <a class="btn btn-success" href="{{ url_for('bills.reject_bill', bill_id=bill['_id']) }}">Reject Bill</a>
                        </td>
                    </tr>
                 {% endfor %}
            <tbody>
        </table>
{% endblock %}